@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

#shape {
  width: 35rem;
  height: 35rem;
  background-color: #3f3d56; /* Separate background color */
  background-image: url("/hero-img.jpg"); /* Correct background image syntax */
  background-position: center;
  background-size: cover; /* Cover the entire area of the shape */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  transform: rotate(0deg);
  will-change: border-radius, transform;
  animation: blob 10s linear infinite;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@keyframes blob {
  0%,
  100% {
    border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  }
  50% {
    border-radius: 72% 28% 50% 50% / 55% 26% 74% 45%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
