@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./components/assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./components/assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("./components/assets/fonts/Manrope-Bold.otf") format("opentype");
}

.ManropeBold {
  font-family: "Manrope-Bold";
}

.GilroyBold {
  font-family: "Gilroy-Bold";
}

.GilroyLight {
  font-family: "Gilroy-Light";
}

body {
  background-color: #1e40af;
  overflow-x: hidden;
}

.blobright {
  position: relative;
  right: 0;
  background-color: white;
  /* border-radius: 50% 50% 50% 50% / 60% 40% 30% 70%; */
  border-radius: 40% 50% 70% 30% / 60% 40% 30% 70%;
}

.blobleft {
  position: relative;
  left: 0;
  background-color: white;
  /* border-radius: 50% 50% 50% 50% / 60% 40% 30% 70%; */
  border-radius: 40% 50% 70% 30% / 60% 40% 30% 70%;
  /* transform: scaleX(-1) */
}

/* Scrollar Start */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066b2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00308f;
}
/* Scrollar end */

#shape {
  width: 35rem;
  height: 35rem;
  background-color: #3f3d56; /* Separate background color */
  background-image: url("/hero-img.jpg"); /* Correct background image syntax */
  background-position: center;
  background-size: cover; /* Cover the entire area of the shape */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  transform: rotate(0deg);
  will-change: border-radius, transform;
  animation: blob 10s linear infinite;
}

/* .hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
} */

@keyframes blob {
  0%,
  100% {
    border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%;
  }
  50% {
    border-radius: 72% 28% 50% 50% / 55% 26% 74% 45%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
